In [4]:
from sklearn.datasets import fetch_20newsgroups
import pandas as pd


newsgroups_train = fetch_20newsgroups(subset='train', remove=('headers', 'footers', 'quotes'))

    df = pd.DataFrame([newsgroups_train.data, newsgroups_train.target.tolist()]).T
    df.columns = ['text', 'target']

    targets = pd.DataFrame( newsgroups_train.target_names)
    targets.columns=['title']

    out = pd.merge(df, targets, left_on='target', right_index=True)
    out['date'] = pd.to_datetime('now')
    out.to_csv('20_newsgroup.csv')
    
twenty_newsgroup_to_csv()

Downloading 20news dataset. This may take a few minutes.
Downloading dataset from https://ndownloader.figshare.com/files/5975967 (14 MB)

In [18]:
newsgroups_test = fetch_20newsgroups(subset='test', remove=('headers', 'footers', 'quotes'))

In [33]:
df = pd.DataFrame([newsgroups_test.data, newsgroups_test.target.tolist()]).T
df.columns = ['text', 'target']
df["text"] = df["text"].replace("\n|\t"," ", regex=True)
targets = pd.DataFrame( newsgroups_train.target_names)
targets.columns=['title']
out = pd.merge(df, targets, left_on='target', right_index=True)
out.to_csv('20_newsgroup_test.csv')
data = pd.read_csv('20_newsgroup_test.csv') 
data

,Unnamed: 0,text,target,title
0,0,I am a little confused on all of the models of...,7,rec.autos
1,27,I have a 90 Eagle Talon and I wanted a pair of...,7,rec.autos
2,28,"Hi, I need your help with a problem I have wit...",7,rec.autos
3,75,They changed the lights and slope of the hood...,7,rec.autos
4,77,I am thinking of buying a used Audi 90 Auto. ...,7,rec.autos
...,...,...,...,...
7527,7426,I think it's because the lead gets coated wit...,12,sci.electronics
7528,7445,"With regards to what you wrote, how does on...",12,sci.electronics
7529,7507,Why can't he record it legally? It may not b...,12,sci.electronics
7530,7510,It sorta depends on what you drive. I remem...,12,sci.electronics
7531,7519,Can anyone point me to a cross compiler and/or...,12,sci.electronics

In [20]:
newsgroups_train = fetch_20newsgroups(subset='train', remove=('headers', 'footers', 'quotes'))